<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.bookMapper">
	
	<select id="selectBookList"  parameterType="string"  resultType="Book">
		select num as bookNum, 
			   tb1.name as bookName,
			   ifnull(tb2.status, 'Y') as rentalPossible,
			   tb2.name as rentalMan,
			   tb2.idx as rentalManIdx,
			   tb2.mine as mine
		  from books tb1
		  left outer join (
		  	select t1.*, t2.name, t2.idx, case when t1.member_idx = #{memberIdx} then 'Y' else 'N' end as mine
		  	  from rental_history t1
		  	  inner join members t2 on t1.member_idx=t2.idx
		  ) tb2 on tb1.num = tb2.book_num
		 where isExist = 'Y' 
		 order by tb1.num asc
	</select>
	
	<select id="selectBookDetail" parameterType="string" resultType="Book">
		select num as bookNum,
			   name as bookName,
			   e_name as bookEngName,
			   contents as bookContents,
			   link as bookLink
		  from books
		 where num = #{bookNum}
	</select>
	
	<select id="selectReadMemberList" parameterType="string" resultType="Account">
		select distinct t2.idx, t2.id, t2.name as userName
		  from return_history t1
		 inner join members t2 on t1.member_idx = t2.idx
		 where t1.book_num = #{bookNum}
		 order by t2.name asc
	</select>
	
</mapper>
