<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.uploadMapper">
	
	<insert id="insertEvent" parameterType="map">
		insert into event (suffix, title, content, file_name, write_member_idx)
		values (#{suffix}, #{eventTitle}, #{eventContent}, #{fileName}, #{writer})
	</insert>
	
	<select id="selectEventList" resultType="Event">
		select suffix, title, content, file_name as fileName, reg_date as regDate, t2.name as writer
		  from event t1
		  left outer join members t2 on t1.write_member_idx = t2.idx
	</select>
	
	<select id="selectEvent" parameterType="string" resultType="Event">
		select suffix, title, content, file_name as fileName, reg_date as regDate, t2.name as writer
		  from event t1
		  left outer join members t2 on t1.write_member_idx = t2.idx
		 where suffix = #{suffix}
	</select>
</mapper>
