<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.userMapper">
	<resultMap id="RM_selectUser" type="Account">
		<result column="idx" property="idx" javaType="string"/>
		<result column="id" property="id" javaType="string" />
		<result column="name" property="userName" javaType="string"/>
		<result column="pw" property="password" javaType="string"/>
		<result column="phone" property="phone" javaType="string"/>
		<result column="email" property="email" javaType="string"/>
	 	<collection property="authorities" column="idx" javaType="java.util.ArrayList"
	 				ofType="Authority" select="selectAuthorities" />
	</resultMap>
	
	<select id="selectUserInfo"  parameterType="string"  resultMap="RM_selectUser">
		select idx, id, name, pw, phone, email 
		  from members
		 where id = #{id}
	</select>
	
	<select id="selectAuthorities" parameterType="string" resultType="Authority">
		select auth_name as authName
		  from members_authorities
		 where members_idx = #{idx}
	</select>
	
	<select id="selectRentalHistory" parameterType="map" resultType="RentalHistory">
		select member_idx as rentalManIdx,
			   book_num as bookNum,
			   rental_date as rentalDate,
			   return_date as returnDate,
			   tb2.name as bookName
		  from rental_history tb1
		  inner join books tb2 on tb1.book_num = tb2.num
		  <where>
		  <if test="memberIdx != null">
		  	member_idx = #{memberIdx}
		  </if>
		  </where>
	</select>
	
	<select id="selectMyNotReturedBooks" parameterType="string" resultType="RentalHistory">
		select t1.member_idx as rentalManIdx,
			   t3.name as rentalMan,
			   DATE_FORMAT(rental_date, '%Y-%m-%d') as rentalDate,
			   DATE_FORMAT(return_date, '%Y-%m-%d') as returnDate,
			   t2.num as bookNum,
			   t2.name as bookName
		  from rental_history t1
		  inner join books t2 on t1.book_num = t2.num
		  inner join members t3 on t1.member_idx = t3.idx
		  where member_idx = #{idx}
		    and t1.status = 'A'
	</select>
	
	<select id="selectMyRentalHistories" parameterType="string" resultType="ReturnHistory">
		select t1.idx as idx,
			   t1.member_idx as rentalManIdx,
			   t3.name as rentalMan,
			   DATE_FORMAT(rental_date, '%Y-%m-%d') as rentalDate,
			   DATE_FORMAT(return_date, '%Y-%m-%d') as returnDate,
			   t2.num as bookNum,
			   t2.name as bookName,
			   t1.return_expired as returnExpired
		  from return_history t1
		  inner join books t2 on t1.book_num = t2.num
		  inner join members t3 on t1.member_idx = t3.idx
		  where member_idx = #{idx}
	</select>
	
	<select id="selectUserRentalBookByNum" parameterType="string" resultType="RentalHistory">
		select t1.member_idx as rentalManIdx,
			   t3.name as rentalMan,
			   DATE_FORMAT(rental_date, '%Y-%m-%d') as rentalDate,
			   t2.num as bookNum,
			   t2.name as bookName,
			   t1.status as status
		  from rental_history t1
		  inner join books t2 on t1.book_num = t2.num
		  inner join members t3 on t1.member_idx = t3.idx
		  where book_num = #{bookNum}
	</select>
	
	<insert id="insertApplyRental" parameterType="map">
		insert into rental_history(member_idx, book_num, rental_date, return_date, status)
		values (#{memberIdx}, #{bookNum}, now(), date_add(now(), interval 7 day), 'R')
	</insert>
	
	<select id="selectRentalApplyList" resultType="RentalHistory">
		select t1.member_idx as rentalManIdx,
			   t3.name as rentalMan,
			   DATE_FORMAT(rental_date, '%Y-%m-%d') as rentalDate,
			   DATE_FORMAT(return_date, '%Y-%m-%d') as returnDate,
			   t2.num as bookNum,
			   t2.name as bookName,
			   t1.status as status
		  from rental_history t1
		  inner join books t2 on t1.book_num = t2.num
		  inner join members t3 on t1.member_idx = t3.idx
		  order by rentalManIdx
	</select>
	
	<update id="updateRentalApply" parameterType="map">
		update rental_history
		   set status = 'A',
		   	   rental_date = now(),
		   	   return_date = date_add(now(), interval 7 day)
		 where member_idx = #{rentalManIdx}
		   and book_num = #{bookNum}
	</update>
	
	<insert id="insertReturnRental" parameterType="map">
		insert into return_history(book_num, member_idx, rental_date, return_date, real_return_date, return_expired)
		select book_num, 
			   member_idx,
			   rental_date,
			   return_date, 
			   now(),
			   case when datediff(now(), return_date) > 0 then 'Y'
		   	        else 'N'
		   	   end
		  from rental_history
		 where book_num =#{bookNum}
		   and member_idx = #{memberIdx}
	</insert>
	
	<select id="selectMyApplyBook" parameterType="map" resultType="int">
		select count(book_Num)
		  from rental_history
		 where book_num = #{bookNum}
		   and member_idx = #{memberIdx}
	</select>
	
	<delete id="deleteMyApplyBook" parameterType="map">
		delete from rental_history
		 where book_num = #{bookNum}
		   and member_idx = #{memberIdx}
	</delete>
	
	<update id="updateReturnDate" parameterType="string">
		update rental_history
		   set return_date = date_add(return_date, interval 7 day)
		 where book_num = #{bookNum}
		   and status = 'A'
	</update>
	
	<select id="selectExpiredRentals" resultType="map">
		select t1.book_num as bookNum,
			   t2.name as bookName,
			   t3.name as memberName, 
			   t3.email as email, 
			   t1.return_date as returnDate
		  from rental_history t1
		 inner join books t2 on t1.book_num = t2.num
		 inner join members t3 on t1.member_idx = t3.idx
		 where t1.status = 'A'
		   and datediff(now(), t1.return_date) > 0
	</select>
	
</mapper>
